// =======================================================================
// Layout
// =======================================================================

body {
   display: grid;
   grid-column-gap: var(--u-layout-gap);
   grid-template-columns: [bleed-start] var(--u-layout-column-small) [content-start] var(--u-layout-column) [content-end] var(--u-layout-column-small) [bleed-end];
   > * {
      grid-column: content;
   }
   .c-masthead, .c-main, .c-main .o-grid--bleed {
      display: grid;
      grid-column-gap: inherit;
      grid-template-columns: inherit;
      grid-column: bleed;
      > * {
         grid-column: content;
      }
      .o-grid--abreast, .o-grid--triad, .o-grid--asymmetric, .o-grid--asymmetricreverse, .o-grid--work {
         display: grid;
         grid-column-gap: inherit;
      }
   }
   @media(min-width: 44em) {
      .c-main > *.o-grid__element, .c-main .o-grid--bleed > *.o-grid__element {
         max-width: 60%;
      }
      .c-masthead .o-grid--abreast, .c-main .o-grid--abreast {
         grid-template-columns: repeat(2, 1fr);   
      }
      .c-masthead .o-grid--triad, .c-main .o-grid--triad {
         grid-template-columns: repeat(3, 1fr);   
      }
      .c-masthead .o-grid--asymmetric, .c-main .o-grid--asymmetric {
         grid-template-columns: 2fr 1.25fr;
      }
      .c-masthead .o-grid--asymmetricreverse, .c-main .o-grid--asymmetricreverse {
         grid-template-columns: 1.25fr 2fr;
      }
      .c-main .o-grid--work {
         grid-template-columns: repeat(8, 1fr);
         grid-template-areas: 
         "shelf shelf shelf helpper helpper helpper helpper helpper"
         "diabetik diabetik diabetik diabetik diabetik diabetik diabetik diabetik"
         ". realo realo realo realo . . ."
         ". . . scorecard scorecard scorecard scorecard scorecard"
         "hocusfocus hocusfocus hocusfocus hocusfocus hocusfocus hocusfocus . .";
         > * {
            margin-bottom: 3rem; //adjust this to be flexible
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:last-child {
               margin-bottom: 0;
            }
         }
         > *.o-grid__element--shelf {
            grid-area: shelf;
         }
         > *.o-grid__element--helpper {
            grid-area: helpper;
         }
         > *.o-grid__element--diabetik {
            grid-area: diabetik;
         }
         > *.o-grid__element--realo {
            grid-area: realo;
         }
         > *.o-grid__element--scorecard {
            grid-area: scorecard;
         }
         > *.o-grid__element--hocusfocus {
            grid-area: hocusfocus;
         }
      }
   }
}