// =======================================================================
// Grid
// =======================================================================

.o-grid {
  display: grid;
  &--index {

  }
  @media(min-width: 44em) {
    &--index {
      grid-template-columns: minmax(940px, 4fr) 1fr;
      grid-template-rows: 1fr 4fr 1fr; //tweak masthead/footer height //minmax(60px, 60px)
      grid-template-areas:
        "masthead aside"
        "main aside"
        "footer aside";
      height: 100vh;
    }   
  }
}

/*.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;   
}*/