// =======================================================================
// Layout
// =======================================================================

.o-grid {
  display: grid;
  &--index {
    grid-auto-rows: minmax(140px, auto);
    .c-masthead {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .c-footer {
      display: flex;
      align-items: center;
    }
  }
  @media(min-width: 44em) {
    &--index {
      grid-template-columns: minmax(940px, 3.5fr) 1fr;
      grid-template-rows: 120px 4fr 120px;
      grid-template-areas:
        "masthead panel"
        "main panel"
        "footer panel";
      height: 100vh;
      .c-masthead, .c-main, .c-section--cases, .c-section--cases .c-article--case {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .c-masthead {
        grid-area: masthead;
      }
      .c-main {
        position: relative;
        grid-area: main;
        .c-article {
          position: absolute;
          max-width: 43rem; //50vw?
          &--case {
            flex-direction: column-reverse;
            //max-width: 55rem;
            max-width: calc(100% - var(--u-layout-gutter));
            .c-article__header {
              max-width: 30rem; //50vw?
            }
          }
        }
      }
      .c-panel {
        grid-area: panel;
        z-index: 99; //always above c-main
      }
      .c-footer {
        grid-area: footer;
      }
    }   
  }
}

/// Layout Components
.o-flex {
  display: flex;
  &--ac{
    align-items: center;
  }
}