// =======================================================================
// Layout
// =======================================================================

html {
   body {
      padding: 0 var(--u-spacer-30);
   }
   @media(min-width: 44em) {
      body {
         padding: 0;
      }
      .o-grid {
         display: grid;
         grid-column-gap: var(--u-layout-gap);
         grid-template-columns: [bleed-start] 1fr [extend-start] minmax(0, var(--u-layout-column)) [content-extra-large-start] minmax(0, var(--u-layout-column)) [content-large-start] minmax(0, var(--u-layout-column)) [content-small-start] repeat(4, minmax(0, var(--u-layout-column))) [content-small-end] minmax(0, var(--u-layout-column)) [content-large-end] minmax(0, var(--u-layout-column)) [content-extra-large-end] minmax(0, var(--u-layout-column)) [extend-end] 1fr [bleed-end];
         .o-grid__small {
            grid-column: content-small;
         }
         .o-grid__large {
            grid-column: content-large;
         }
         .o-grid__extralarge {
            grid-column: content-extra-large;
         }
         .o-grid__extend {
            grid-column: extend;
         }
         .o-grid__bleed {
            grid-column: bleed;
         }
         .o-grid__abreast {
            display: grid;
            grid-column: extend;
            grid-column-gap: var(--u-layout-gap);
            grid-template-columns: repeat(2, 1fr);
         }
         .o-grid__triad {
            display: grid;
            grid-column: extend;
            grid-column-gap: var(--u-layout-gap);
            grid-template-columns: repeat(3, 1fr);
            grid-template-columns: 1fr 1fr 2fr;
         }
         .o-grid__asymmetric {
            display: grid;
            grid-column: extend;
            grid-column-gap: inherit;
            grid-template-columns: 7fr 5fr;
         }
         .o-grid__asymmetric--reverse > *:nth-child(1) {
            order: 2;
         }   
         .c-main {
            display: grid;
            grid-column: bleed;
            grid-template-columns: inherit;
            grid-column-gap: inherit;
         }
      }
   }
   @media(min-width: 80em) {
      .o-grid {
         grid-column-gap: var(--u-layout-gap-small);
      }
   }
}