// =======================================================================
// Layout
// =======================================================================

.o-grid {
  display: grid;
  &--index {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(18vh, auto);
    grid-template-areas: none;
    .c-masthead {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .c-panel {
      display: none;
    }
    .c-footer {
      display: flex;
      align-items: center;
    }
  }
  @media(min-width: 46em) {
    &--index {
      //grid-template-columns: minmax(940px, 3fr) 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: minmax(14vh, auto) 4fr minmax(14vh, auto);
      grid-template-areas:
        "masthead panel"
        "main panel"
        "footer panel";
      height: 100vh;
      .c-masthead, .c-main, .c-section--cases, .c-section--cases .c-article--case {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .c-masthead {
        grid-area: masthead;
      }
      .c-main {
        position: relative;
        grid-area: main;
        .c-article {
          position: absolute;
          max-width: calc(100% - var(--u-layout-gutter));
          &--case {
            flex-direction: column;
            .c-article__header {
              max-width: 30rem;
            }
          }
        }
      }
      .c-main .c-section--cases {
        display: none; //debug
      }
      .c-panel {
        display: block;
        grid-area: panel;
        z-index: 99;
      }
      .c-footer {
        grid-area: footer;
      }
    }   
  }
}

/// Layout Components
.o-flex {
  display: flex;
  &--ac{
    align-items: center;
  }
}