// =======================================================================
// Global Variables & Maps
// =======================================================================

/// Font families
$ff-sans-serif: "NhU", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
$ff-serif: "RcL", Arial, serif;

/// Layout sizing
$ls-column: 4.375em;
$ls-gap--s: 3vw;
$ls-gap: 5vw;

/// Spacers
$u-spacer: 5px;
$u-spacer--10: $u-spacer * 2;
$u-spacer--15: $u-spacer * 3;
$u-spacer--20: $u-spacer * 4;
$u-spacer--30: $u-spacer * 6;
$u-spacer--40: $u-spacer * 8;
$u-spacer--50: $u-spacer * 10;
$u-spacer--60: $u-spacer * 12;
$u-spacer--80: $u-spacer * 16;
$u-spacer--100: $u-spacer * 20;

///Radii
$u-radius--3: 3px;
$u-radius--6: 6px;
$u-radius--10: 10px;
$u-radius--16: 16px;

/// Colours
$c-neutral--faintlight: transparentize($color: #fff, $amount: 0.92);
$c-neutral--lightest: #e4e5e5;
$c-neutral--light: #e0e2e2;
$c-neutral--mid: #8c8b85;
$c-neutral--darkest: #212928;
$c-neutral--faintdark: transparentize($color: $c-neutral--darkest, $amount: 0.92);

$c-shelf: #eb4b89;   
$c-realo: #556dfa;
$c-hocusfocus: #947bff;
$c-diabetik: #55c2c5;
$c-immobrown: #ecb968;

/// Transitions
$t-bezier: cubic-bezier(.165, .84, .44, 1);

/// Shadows
$s-layerone: 0 1px 5px transparentize($color: $c-neutral--darkest, $amount: 0.9), 0 12px 30px transparentize($color: $c-neutral--darkest, $amount: 0.82);

/// Maps
// Breakpoints
$breakpoints: (
   //small: 360px,
   medium: 700px,
   large: 1280px,
   xlarge: 1440px
);
// Font sizes
$body-font-sizes: (
   null: (1rem, 1.5), //16px
   medium: (1.25rem, 1.5) // 20px
);
$small-font-sizes: (
   null: (0.875rem, 1.5) //14px
);
$h1-font-sizes: (
   null: (1.5rem, 1.35), //24px
   medium: (2.25rem, 1.3) //36px
);
$h2-font-sizes: (
   null: (1.125rem, 1.5), //18px
   medium: (1.25rem, 1.5) //20px
);
$h3-font-sizes: (
   null: (0.75rem, 1.5), //12px   
   medium: (0.875rem, 1.5) //14px
);
