<main class="c-main">
   <article class="o-grid__element c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   <section class="o-grid--abreast c-section c-section--multiple">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--triad c-section c-section--multiple">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--bleed c-section c-section--shelf">
      <article class="c-article">
         <header class="c-article__header">
            <h3>{{ projects.shelf.name }}</h3>
            <h4 class="c-article__lede">{{ projects.shelf.description }}</h4>
         </header>
      </article>
      <section class="o-grid--abreast c-section c-section--multiple">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
      </section>
      <section class="o-grid--triad c-section c-section--multiple">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div> 
      </section>
   </section>
</main>