<aside class="c-panel" role="projects">
  <ul class="c-list">
    {% for item in cases limit:4 %}
    <li class="c-list__item"><a href="#"><h5>{{ item.label }}</h5><small>{{ item.role }}</small></a></li>
    {% endfor %}
  </ul>
</aside>