<main class="c-main">
   <article class="c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   {% if type == 'homepage' %}
   <section class="c-section c-section--shelf">
      <nav class="c-nav c-nav--dots">
         <ul class="c-nav__items">
            <li class="c-nav__item c-nav__item--selected"><a href="#">Shelf</a></li>
            <li class="c-nav__item"><a href="#">Diabetik</a></li>
            <li class="c-nav__item"><a href="#">Realo</a></li>
         </ul>
      </nav>
      <article class="c-article">
         <header class="c-article__header">
            <h3>{{ projects.shelf.name }}</h3>
            <h4 class="c-article__lede">{{ projects.shelf.description }}</h4>
         </header>
      </article>
   </section>
   {% endif %}
</main>