<main class="c-main">
   <article class="c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   <section class="c-section c-section--shelf">
      <article class="c-article">
         <header class="c-article__header">
            <h3>{{ projects.shelf.name }}</h3>
            <h4 class="c-article__lede">{{ projects.shelf.description }}</h4>
         </header>
      </article>
   </section>
</main>