<main class="c-page">
   <header class="o-grid__element o-grid__element--alignright c-page__header">
      <h1>{{ title }}</h1>
      <h2>{{ summary }}</h2>
   </header>
   <article class="c-page__content c-article">
      {{ content }}
   </article>
</main>