<main class="c-main">
   <section class="o-grid__small">
      <p>Example of <code>o-grid__small</code></p>
   </section>
   <section class="o-grid__large">
      <p>Example of <code>o-grid__large</code></p>
   </section>
   <section class="o-grid__extralarge">
      <p>Example of <code>o-grid__extralarge</code></p>
   </section>
   <section class="o-grid__extend">
      <p>Example of <code>o-grid__extend</code></p>
   </section>
   <section class="o-grid__bleed">
      <p>Example of <code>o-grid__bleed</code></p>
   </section>
   <section class="o-grid__abreast">
      <figure><img src="https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f75b917098695dad49881631720a8f0&auto=format&fit=crop&w=1834&q=80" alt=""></figure>
      <figure><img src="https://images.unsplash.com/photo-1534359265607-b9cdb5e0a81e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29a8e80872e6227b89bb7d2b64ea59e6&auto=format&fit=crop&w=1521&q=80" alt=""></figure>
   </section>
   <section class="o-grid__asymmetric">
      <figure><img src="https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f75b917098695dad49881631720a8f0&auto=format&fit=crop&w=1834&q=80" alt=""></figure>
      <figure><img src="https://images.unsplash.com/photo-1534359265607-b9cdb5e0a81e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29a8e80872e6227b89bb7d2b64ea59e6&auto=format&fit=crop&w=1521&q=80" alt=""></figure>
   </section>
   <section class="o-grid__asymmetric o-grid__asymmetric--reverse">
      <figure><img src="https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f75b917098695dad49881631720a8f0&auto=format&fit=crop&w=1834&q=80" alt=""></figure>
      <figure><img src="https://images.unsplash.com/photo-1534359265607-b9cdb5e0a81e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29a8e80872e6227b89bb7d2b64ea59e6&auto=format&fit=crop&w=1521&q=80" alt=""></figure>
   </section>
</main>