<aside class="c-panel" role="projects">
  <ul class="c-list">
    {% for case in cases %}
    <li class="c-list__item c-list__item--{{ case.label }}"><a href="{{ case.permalink }}"><b>{{ case.name }}</b><small>{{ case.role }}</small></a></li>
    {% endfor %}
  </ul>
</aside>