<aside class="c-panel" role="projects">
  <ul class="c-list">
    {% for case in cases limit:4 %}
    <li class="c-list__item"><a href="#"><h5>{{ case.label }}</h5><small>{{ case.role }}</small></a></li>
    {% endfor %}
  </ul>
</aside>