<main class="c-main">
   <article class="o-grid__element c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   {% if type == 'homepage' %}
   <section class="o-grid--work c-section">
      {% for item in projects %}
      <div class="o-grid__element--{{ item.label }} c-item">
         <a href="#">
            <figure class="c-figure">
               <img src="https://images.unsplash.com/photo-1548502567-d6f175c4808f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
            </figure>
            <a href="#"><b>{{ item.name }}</b></a>
            <p>{{ item.description }}</p>
         </a>
      </div>
      {% endfor %}
   </section>
   {% endif %}
</main>