<main class="c-page">
   <article class="o-grid__element c-article">
      <header class="c-article__header">
         {{ content }}
      </header>
   </article>
   <section class="o-grid--abreast c-section">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--asymmetric c-section">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--asymmetricreverse c-section">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--triad c-section">
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
      <div>
         <h4>Card</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
      </div>
   </section>
   <section class="o-grid--bleed c-section c-section--shelf">
      <article class="c-article">
         <header class="c-article__header">
            <h3>{{ projects.shelf.name }}</h3>
            <h4 class="c-article__lede">{{ projects.shelf.description }}</h4>
         </header>
      </article>
      <section class="o-grid--abreast c-section">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
      </section>
      <section class="o-grid--triad c-section">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div> 
      </section>
      <section class="o-grid--asymmetric c-section">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
      </section>
      <section class="o-grid--asymmetricreverse c-section">
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
         <div>
            <h4>Card</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum expedita temporibus adipisci, cumque ipsa provident qui quisquam eveniet nostrum amet et iusto sunt optio. Earum tempora dolore fugiat repudiandae?</p>
         </div>
      </section>
   </section><!--end section--bleed-->
   <section class="o-grid--work c-section">
      <div class="o-grid__element--shelf c-item"><b>Shelf</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia! Cupiditate ea atque, ex voluptas quibusdam ratione esse!</p></div>
      <div class="o-grid__element--helpper c-item"><b>Helpper</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
      <div class="o-grid__element--diabetik c-item"><b>Diabetik</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
      <div class="o-grid__element--realo c-item"><b>Realo</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
      <div class="o-grid__element--scorecard c-item"><b>Scorecard</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
      <div class="o-grid__element--hocusfocus c-item"><b>Hocus Focus</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
      <div class="o-grid__element--immobrown c-item"><b>Scorecard</b><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic recusandae aliquam vel, autem repellendus dicta laudantium eligendi ut distinctio praesentium, odit officia!</p></div>
   </section>
</main>