<header class="c-masthead">
   <header class="c-masthead__header">
      <!--branding+toggle-->
   </header>
   <div class="c-masthead__content">
      <nav class="c-nav c-nav--primary">
         <!--main nav goes here-->
      </nav>
      <nav class="c-nav c-nav--secondary">
         <!--projects go here-->  
      </nav>
   </div>
</header>