:root {
  --c-neutral-dark: hsla(240, 3%, 7%, 1);
  --c-neutral-dark-a50: hsla(240, 3%, 7%, 50%);
  --c-neutral-dark-a40: hsla(240, 3%, 7%, 40%);
  --c-neutral-dark-a20: hsla(240, 3%, 7%, 20%);
  --c-neutral-dark-a10: hsla(240, 3%, 7%, 10%);
  --c-neutral-mid: hsla(240, 2%, 16%, 1);
  --c-neutral-light: hsla(60, 19%, 95%, 1);
  --c-neutral-light-a50: hsla(60, 19%, 95%, 50%);
  --c-neutral-light-a40: hsla(60, 19%, 95%, 40%);
  --c-neutral-light-a20: hsla(60, 19%, 95%, 20%);
  --c-neutral-light-a10: hsla(60, 19%, 95%, 10%);
  --f-family-sans: neue-haas-unica, "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-size-body: calc(1rem + 0.425vmin);
  --f-size-body-small: calc(1rem - 0.25vmin);
  --f-size-body-large: 1.125rem;
  --f-size-h1: calc(2.5rem + 1.45vw);
  --f-size-h2: calc(1.25rem + 0.75vw);
  --f-size-h3: calc(1.75rem + 0.25vw);
  --f-size-h4: calc(1.125rem + 0.25vw);
  --f-size-h5: 0.75rem;
  --f-size-blockquote: var(--f-size-h3);
  --f-leading-tight: 1.25em;
  --f-leading: 1.5em;
  --u-spacer: 5px;
  --u-spacer-10: calc(var(--u-spacer) * 2);
  --u-spacer-15: calc(var(--u-spacer) * 3);
  --u-spacer-20: calc(var(--u-spacer) * 4);
  --u-spacer-30: calc(var(--u-spacer) * 6);
  --u-spacer-40: calc(var(--u-spacer) * 8);
  --u-spacer-50: calc(var(--u-spacer) * 10);
  --u-spacer-60: calc(var(--u-spacer) * 12);
  --u-spacer-80: calc(var(--u-spacer) * 16);
  --u-spacer-100: calc(var(--u-spacer) * 20);
  --u-layout-column-small: 3vw;
  --u-layout-column: 10fr;
  --u-layout-gap-small: 3vw;
  --u-layout-gap: 5vw;
  --u-layout-viewport-medium: 44em;
  --u-layout-viewport-large: 80em;
  --u-layout-viewport-largest: 90em;
  --t-bezier: cubic-bezier(.165, .84, .44, 1);
  --t-delay: 80ms;
  --d-layer-two: 0 1px 10px rgba(0, 0, 0, .1), 0 12px 35px rgba(0, 0, 0, .15); }

.o-grid {
  display: grid; }
  @media (min-width: 44em) {
    .o-grid--index {
      grid-template-columns: minmax(940px, 3.5fr) 1fr;
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas: "masthead panel" "main panel" "footer panel";
      height: 100vh; }
      .o-grid--index .c-masthead {
        grid-area: masthead; }
      .o-grid--index .c-main {
        grid-area: main; }
      .o-grid--index .c-panel {
        grid-area: panel;
        z-index: 99; }
      .o-grid--index .c-footer {
        grid-area: footer; } }

/*.c-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;   
}*/
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto; }
  body.no-scroll {
    overflow: hidden; }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

p {
  margin: 0 0 var(--u-spacer-15); }

b, strong {
  font-weight: bold; }

cite {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol {
  margin: 0; }

ul {
  list-style: circle; }

ol {
  list-style: decimal; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::placeholder {
  color: var(--c-neutral-dark-a50); }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-neutral-dark); }

h1 {
  margin-bottom: var(--u-spacer-15);
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h1);
  line-height: var(--f-leading-tight); }

h2, .c-blockquote__text {
  margin-bottom: var(--u-spacer-20);
  font-size: var(--f-size-h2);
  line-height: var(--f-leading);
  color: var(--c-neutral-dark);
  letter-spacing: -0.016743rem; }

h3 {
  margin-bottom: var(--u-spacer);
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h3);
  line-height: var(--f-leading);
  color: var(--c-neutral-dark);
  font-weight: bold; }

h4 {
  margin-bottom: var(--u-spacer);
  font-size: var(--f-size-h4);
  line-height: var(--f-leading);
  color: currentColor;
  font-weight: bold; }
  h4.c-article__lede {
    font-weight: normal; }

h5 {
  margin-bottom: var(--u-spacer-20);
  font-size: var(--f-size-h5);
  line-height: var(--f-leading);
  color: var(--c-neutral-dark);
  text-transform: uppercase;
  letter-spacing: 0.125rem; }

small, figcaption p {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading); }

blockquote {
  margin: 0; }

cite {
  font-style: normal; }

.c-panel {
  background: var(--c-neutral-light); }
  .c-panel .c-list {
    display: grid;
    height: 100vh; }
    .c-panel .c-list .c-list__item {
      margin-bottom: 0;
      border-bottom: 1px solid var(--c-neutral-dark-a10); }
      .c-panel .c-list .c-list__item:last-child {
        border-bottom: none; }
      .c-panel .c-list .c-list__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-decoration: none;
        transition: background 0.3s var(--t-bezier); }
        .c-panel .c-list .c-list__item a:hover {
          background: white; }
        .c-panel .c-list .c-list__item a h5 {
          margin-bottom: var(--u-spacer); }

.c-section {
  margin-bottom: var(--u-spacer-50); }

.c-article {
  margin-bottom: var(--u-spacer-40); }

.c-footer {
  font-size: var(--f-size-body-small); }

.c-masthead .c-masthead__brand a svg {
  width: 124px;
  fill: var(--c-neutral-dark);
  transition: opacity 0.2s var(--t-bezier); }

.c-masthead .c-masthead__brand a:hover svg {
  opacity: .7; }

.c-nav .c-nav__items {
  padding: 0;
  list-style: none; }
  .c-nav .c-nav__items .c-nav__item a {
    font-size: var(--f-size-body-small);
    color: var(--c-neutral-dark-a50);
    text-decoration: none; }
    .c-nav .c-nav__items .c-nav__item a:hover {
      color: var(--c-neutral-dark); }
  .c-nav .c-nav__items .c-nav__item:last-child {
    margin-bottom: 0; }
  .c-nav .c-nav__items .c-nav__item.c-nav__item--selected a {
    font-weight: 500;
    color: var(--c-neutral-dark); }

a {
  color: currentColor;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.c-button {
  padding: var(--u-spacer-10) var(--u-spacer-20);
  color: var(--c-neutral-light);
  background: var(--c-neutral-mid);
  box-shadow: var(--d-layer-one);
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.4s var(--t-bezier); }
  .c-button:hover {
    background: var(--c-neutral-dark); }
  .c-button:active {
    opacity: .7;
    box-shadow: none; }

.c-figure {
  margin-bottom: var(--u-spacer-15); }
  .c-figure img {
    display: block; }
  .c-figure figcaption {
    color: currentColor; }

.c-figure--contained {
  margin-bottom: var(--u-spacer-40);
  padding: 6vw;
  background: #C4C8CC; }
  .c-figure--contained img {
    box-shadow: var(--d-layer-two); }

.c-list {
  padding: 0;
  list-style: none; }
  .c-list .c-list__item {
    margin-bottom: var(--u-spacer-15); }

.c-item .c-figure {
  overflow: hidden;
  transition: transform 1.4s var(--t-bezier); }
  .c-item .c-figure img {
    transition: transform 1.4s var(--t-bezier); }
