@font-face {
  font-family: NhU;
  font-weight: normal;
  font-style: normal;
  src: url("/_assets/fonts/NhU-rg-2018-07-04.woff2") format("woff2"), url("/_assets/fonts/NhU-rg-2018-07-04.woff") format("woff"); }

@font-face {
  font-family: NhU;
  font-weight: bold;
  font-style: normal;
  src: url("/_assets/fonts/NhU-bd-2018-07-04.woff2") format("woff2"), url("/_assets/fonts/NhU-bd-2018-07-04.woff") format("woff"); }

@font-face {
  font-family: RcL;
  font-style: normal;
  src: url("/_assets/fonts/RcL-md-2018-07-13.woff2") format("woff2"), url("/_assets/fonts/RcL-md-2018-07-13.woff") format("woff"); }

:root {
  --c-main-faintlight: #fff;
  --c-main-lightest: #e4e5e5;
  --c-main-light: #e0e2e2;
  --c-main-mid: #8c8b85;
  --c-main-darkest: #212928;
  --c-main-faintdark: #000;
  --c-diabetik: yellow;
  --c-diabetik-darkest: yellow;
  --c-helpper: red;
  --c-helpper-darkest: red;
  --c-hocusfocus: blue;
  --c-hocusfocus-darkest: blue;
  --c-immobrown: green;
  --c-immobrown-darkest: green;
  --c-realo: pink;
  --c-realo-darkest: pink;
  --c-scorecard: orange;
  --c-scorecard-darkest: orange;
  --c-shelf: #a899c9;
  --c-shelf-darkest: #a899c9;
  --f-family-sans: "NhU", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: "RcL", Arial, Georgia, serif;
  --f-size-body: calc(1rem + 0.425vmin);
  --f-size-body-small: calc(1rem - 0.25vmin);
  --f-size-body-large: 1.125rem;
  --f-size-h1: calc(2.5rem + 1.45vw);
  --f-size-h2: calc(1.375rem + 1vw);
  --f-size-h3: calc(1.75rem + 0.25vw);
  --f-size-h4: calc(1.125rem + 0.25vw);
  --f-size-h5: 0.75rem;
  --f-size-blockquote: var(--f-size-h3);
  --f-leading-tight: 1.25em;
  --f-leading: 1.5em;
  --u-spacer: 5px;
  --u-spacer-10: calc(var(--u-spacer) * 2);
  --u-spacer-15: calc(var(--u-spacer) * 3);
  --u-spacer-20: calc(var(--u-spacer) * 4);
  --u-spacer-30: calc(var(--u-spacer) * 6);
  --u-spacer-40: calc(var(--u-spacer) * 8);
  --u-spacer-50: calc(var(--u-spacer) * 10);
  --u-spacer-60: calc(var(--u-spacer) * 12);
  --u-spacer-80: calc(var(--u-spacer) * 16);
  --u-spacer-100: calc(var(--u-spacer) * 20);
  --u-layout-column: 4.375em;
  --u-layout-gap-small: 3vw;
  --u-layout-gap: 5vw;
  --u-layout-viewport-medium: 44em;
  --u-layout-viewport-large: 80em;
  --u-layout-viewport-largest: 90em;
  --t-bezier: cubic-bezier(.165, .84, .44, 1);
  --t-delay: 80ms;
  --d-layer-one: 0 1px 5px transparentize($color: var(--c-main-darkest), $amount: 0.9), 0 12px 30px transparentize($color: var(--c-main-darkest), $amount: 0.82); }

html body {
  padding: 0 var(--u-spacer-30); }

@media (min-width: 44em) {
  html body {
    padding: 0; }
  html .o-grid {
    display: grid;
    grid-column-gap: var(--u-layout-gap);
    grid-template-columns: [bleed-start] 1fr [extend-start] minmax(0, var(--u-layout-column)) [content-extra-large-start] minmax(0, var(--u-layout-column)) [content-large-start] minmax(0, var(--u-layout-column)) [content-small-start] repeat(4, minmax(0, var(--u-layout-column))) [content-small-end] minmax(0, var(--u-layout-column)) [content-large-end] minmax(0, var(--u-layout-column)) [content-extra-large-end] minmax(0, var(--u-layout-column)) [extend-end] 1fr [bleed-end]; }
    html .o-grid .o-grid__small {
      grid-column: content-small; }
    html .o-grid .o-grid__large {
      grid-column: content-large; }
    html .o-grid .o-grid__extralarge {
      grid-column: content-extra-large; }
    html .o-grid .o-grid__extend {
      grid-column: extend; }
    html .o-grid .o-grid__bleed {
      grid-column: bleed; }
    html .o-grid .o-grid__abreast {
      display: grid;
      grid-column: extend;
      grid-column-gap: var(--u-layout-gap);
      grid-template-columns: repeat(2, 1fr); }
    html .o-grid .o-grid__triad {
      display: grid;
      grid-column: extend;
      grid-column-gap: var(--u-layout-gap);
      grid-template-columns: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr 2fr; }
    html .o-grid .o-grid__asymmetric {
      display: grid;
      grid-column: extend;
      grid-column-gap: inherit;
      grid-template-columns: 7fr 5fr; }
    html .o-grid .o-grid__asymmetric--reverse > *:nth-child(1) {
      order: 2; }
    html .o-grid .c-main {
      display: grid;
      grid-column: bleed;
      grid-template-columns: inherit;
      grid-column-gap: inherit; } }

@media (min-width: 80em) {
  html .o-grid {
    grid-column-gap: var(--u-layout-gap-small); } }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  hypens: auto; }
  body.no-scroll {
    overflow: hidden; }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

p {
  margin: 0 0 var(--u-spacer-15); }

b, strong {
  font-weight: bold; }

cite {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol {
  margin: 0; }

ul {
  list-style: circle; }

ol {
  list-style: decimal; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::placeholder {
  color: var(--c-main-light); }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

body {
  font-family: var(--f-family-sans);
  font-size: var(--f-size-body);
  line-height: var(--f-leading);
  color: var(--c-main-darkest); }

h1 {
  margin-bottom: var(--u-spacer-15);
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h1);
  line-height: var(--f-leading-tight); }
  h1 em {
    font-weight: bold; }

h2 {
  margin-bottom: var(--u-spacer);
  font-size: var(--f-size-h2);
  color: var(--c-main-darkest);
  letter-spacing: -0.016743rem; }

h3 {
  margin-bottom: var(--u-spacer);
  font-family: var(--f-family-serif);
  font-size: var(--f-size-h3);
  color: var(--c-main-darkest);
  font-weight: bold; }

h4 {
  margin-bottom: var(--u-spacer);
  font-size: var(--f-size-h4);
  color: currentColor;
  font-weight: 600; }
  h4 .c-article--lede {
    font-weight: regular; }

h5 {
  margin-bottom: var(--u-spacer-20);
  font-size: var(--f-size-h5);
  color: var(--c-main-mid);
  text-transform: uppercase;
  letter-spacing: 0.125rem; }

small, figcaption p {
  font-size: var(--f-size-body-small);
  line-height: var(--f-leading); }

blockquote .c-blockquote__text {
  color: var(--c-main-darkest); }

cite, .c-blockquote__author {
  font-style: normal; }

.c-masthead__content .c-nav .c-nav__items .c-nav__item a {
  font-family: var(--f-family-serif); }

a {
  color: currentColor;
  text-decoration: underline;
  transition: opacity 0.24s var(--t-bezier); }
  a:hover {
    opacity: .7;
    text-decoration: none; }

.c-button {
  padding: var(--u-spacer-10) var(--u-spacer-15);
  background: white;
  box-shadow: var(--d-layer-one);
  transition: all 0.4s var(--t-bezier); }
  .c-button:hover {
    transform: translateY(-2px); }
  .c-button:active {
    background: rgba(255, 255, 255, 0.85); }

.c-masthead .c-masthead__header {
  position: relative;
  margin: var(--u-spacer-60) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 24; }
  .c-masthead .c-masthead__header .c-masthead__brand {
    height: 22px; }
    .c-masthead .c-masthead__header .c-masthead__brand a svg {
      width: 130px;
      fill: var(--c-main-darkest);
      transition: opacity 0.2s var(--t-bezier); }
    .c-masthead .c-masthead__header .c-masthead__brand a:hover svg {
      opacity: .7; }
  .c-masthead .c-masthead__header .c-masthead__toggle {
    margin-right: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px; }
    .c-masthead .c-masthead__header .c-masthead__toggle:hover a svg {
      opacity: .7; }
    .c-masthead .c-masthead__header .c-masthead__toggle a svg {
      display: block;
      fill: var(--c-main-darkest);
      transition: opacity 0.2s var(--t-bezier); }
  .c-masthead .c-masthead__header .c-masthead__toggle a svg * {
    transform-origin: 15px 15px;
    transition: transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .c-masthead .c-masthead__header .c-masthead__toggle a svg rect:first-child {
    transform: translateY(-4px); }
  .c-masthead .c-masthead__header .c-masthead__toggle a svg rect:last-child {
    transform: translateY(4px); }
  .c-masthead .c-masthead__header .c-masthead__toggle--click a svg rect:first-child {
    transform: rotate(-45deg); }
  .c-masthead .c-masthead__header .c-masthead__toggle--click a svg rect:last-child {
    transform: rotate(45deg); }

.c-masthead .c-masthead__content {
  position: fixed;
  margin: 0;
  padding: 164px var(--u-spacer-30) 0 var(--u-spacer-30);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  z-index: 22;
  background: var(--c-main-light);
  background: white;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-30px);
  transition: all 0.48s var(--t-bezier); }
  .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item, .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item {
    opacity: 0;
    transform: translateY(8px);
    transition: all 0.48s var(--t-delay) var(--t-bezier); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(2), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(2) {
      transition-delay: calc(var(--t-delay) * 2); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(3), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(3) {
      transition-delay: calc(var(--t-delay) * 3); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(4), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(4) {
      transition-delay: calc(var(--t-delay) * 4); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(5), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(5) {
      transition-delay: calc(var(--t-delay) * 5); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(6), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(6) {
      transition-delay: calc(var(--t-delay) * 6); }
    .c-masthead .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item:nth-child(7), .c-masthead .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item:nth-child(7) {
      transition-delay: calc(var(--t-delay) * 7); }
  .c-masthead .c-masthead__content .c-figure--contained {
    display: none; }
    .c-masthead .c-masthead__content .c-figure--contained img {
      opacity: 0;
      transition: opacity 1s var(--t-delay) var(--t-bezier); }
  @media (min-width: 44em) {
    .c-masthead .c-masthead__content {
      padding: 0 var(--u-layout-gap);
      align-items: center; }
      .c-masthead .c-masthead__content .c-figure--contained {
        display: block;
        margin-right: -var(--u-layout-gap); } }

.c-masthead--open .c-masthead__content {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0); }
  .c-masthead--open .c-masthead__content .c-nav--primary .c-nav__items .c-nav__item, .c-masthead--open .c-masthead__content .c-nav--secondary .c-nav__items .c-nav__item {
    opacity: 1;
    transform: translateY(0); }
  .c-masthead--open .c-masthead__content .c-figure--contained img {
    opacity: 1; }

.c-nav {
  margin-bottom: var(--u-spacer-20); }
  .c-nav h3 {
    color: var(--c-main-mid); }
  .c-nav .c-nav__items {
    padding: 0;
    list-style: none; }
    .c-nav .c-nav__items .c-nav__item {
      margin-bottom: var(--u-spacer-10); }
      .c-nav .c-nav__items .c-nav__item a {
        text-decoration: none; }
      .c-nav .c-nav__items .c-nav__item:last-child {
        margin-bottom: 0; }
      .c-nav .c-nav__items .c-nav__item.c-nav__item--selected {
        opacity: .7; }
  .c-nav--primary {
    margin-bottom: var(--u-spacer-60); }
    .c-nav--primary .c-nav__items .c-nav__item {
      margin-bottom: var(--u-spacer-30); }
      .c-nav--primary .c-nav__items .c-nav__item a {
        font-size: 2rem; }
  @media (min-width: 44em) {
    .c-nav {
      margin-bottom: 0; }
      .c-nav--primary {
        margin-bottom: 0; } }

.c-section {
  margin-bottom: var(--u-spacer-50); }

.c-article {
  margin-bottom: var(--u-spacer-40); }
  .c-article .c-article__header .c-article__title, .c-article .c-article__header .c-article__tagline {
    text-align: center; }
  .c-article .c-article__body {
    margin-bottom: var(--u-spacer-30); }
  .c-article .c-article__aside {
    padding: var(--u-spacer-20);
    background: var(--c-main-faintdark); }
    .c-article .c-article__aside dd {
      margin: 0 0 var(--u-spacer-15) 0; }
      .c-article .c-article__aside dd:last-child {
        margin: 0; }

.c-footer {
  margin-bottom: var(--u-spacer-20);
  padding-top: var(--u-spacer);
  color: var(--c-main-darkest);
  border-top: 1px solid var(--c-main-darkest); }

.c-figure figcaption {
  color: currentColor; }

.c-figure--contained {
  background: var(--c-main-lightest); }
  .c-figure--contained img {
    display: block; }

.c-list {
  padding: 0;
  list-style: none; }
  .c-list .c-list__item {
    margin-bottom: var(--u-spacer-15); }

body.t--shelf:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 160px;
  content: '';
  background: var(--c-shelf); }

.c-figure.c-figure--contained.t--shelf {
  background: var(--c-shelf); }
