// =======================================================================
// Article
// =======================================================================

.c-article {
  background: wheat; //debug
  .c-article__header {
    background: green; //debug   
  }
  &--case {
    .c-figure {
      margin: 0;
    }
  }
}