// =======================================================================
// Primary & secondary calls to action
// =======================================================================
.c-button {
   padding: var(--u-spacer-10) var(--u-spacer-15);
   background: white;
   box-shadow: var(--d-layer-one);
   transition: all .4s var(--t-bezier);
   &:hover {
      transform: translateY(-2px);
   }
   &:active {
      background: transparentize($color: white, $amount: 0.15);
   }
}
