// =======================================================================
// Figure
// =======================================================================

.c-figure {
   //margin-bottom: $u-spacer--40;
   figcaption {
      color: currentColor;
   }
}
.c-figure--contained {
   //padding: $u-spacer--40;
   background: var(--c-main-lightest);
   img {
      display: block;
   }
}