// =======================================================================
// Footer
// =======================================================================

.c-footer {
   margin-bottom: var(--u-spacer-20);
   padding-top: var(--u-spacer);
   color: var(--c-main-darkest);
   border-top: 1px solid var(--c-main-darkest);
}