// =======================================================================
// Item
// =======================================================================

.c-item {
  .c-figure {
    overflow: hidden;
    transition: transform 1.4s var(--t-bezier);
    img { 
        transition: transform 1.4s var(--t-bezier);
    }
  }
}