// =======================================================================
// Item
// =======================================================================

.c-item {
   background: var(--c-main-lightest); //debug
   .c-figure {
      overflow: hidden;
      transition: transform 1.4s var(--t-bezier);
      img { 
         transition: transform 1.4s var(--t-bezier);
      }
   }
   a {
      text-decoration: none;
   }
   &:hover .c-figure {
      transform: scale(1.035);
      img {
         transform: scale(1.1);   
      }
   }
}