// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
   .c-masthead__brand {
      //height: 22px;
      a {
         svg {
         width: 124px;
         fill: var(--c-main-darkest);
         transition: opacity .2s var(--t-bezier);
         }
         &:hover svg {
            opacity: .7;
         }
      }
   }
}