// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
  //margin: var(--u-spacer-40) 0;
  .c-masthead__brand {
    margin-right: var(--u-spacer-15);
    height: 22px;
    a {
      svg {
        width: 124px;
        fill: var(--c-neutral-dark);
        transition: opacity .2s var(--t-bezier);
      }
      &:hover svg {
        opacity: .7;
      }
    }
  }
}