// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
   .c-masthead__header {
      position: relative;
      margin: $u-spacer--60 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 24;
      .c-masthead__brand {
         height: 22px;
         a {
            svg {
            width: 130px;
            fill: $c-neutral--darkest;
            transition: opacity .2s $t-bezier;
            }
            &:hover svg {
               opacity: .7;
            }
         }
      }
      .c-masthead__toggle {
         margin-right: -14px;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 44px;
         height: 44px;
         &:hover a svg {
            opacity: .7;
         }
         a svg {
            display: block;
            fill: $c-neutral--darkest;
            transition: opacity .2s $t-bezier;
         }
      }
      .c-masthead__toggle a svg {
         * {
            transform-origin: 15px 15px;
            transition: transform .12s cubic-bezier(.455,.03,.515,.955);
         }
         rect:first-child {
            transform: translateY(-4px);
         }
         rect:last-child {
            transform: translateY(4px);
         }
      }
      .c-masthead__toggle--click a svg {
         rect:first-child {
            transform: rotate(-45deg);   
         }
         rect:last-child {
            transform: rotate(45deg);
         }  
      }
   }
   .c-masthead__content {
      position: fixed;
      margin: 0;
      padding: 164px $u-spacer--30 0 $u-spacer--30;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      overflow: auto;
      z-index: 22;
      background: $c-neutral--light;
      opacity: 0;
      pointer-events: none;
      transition: all .4s $t-bezier;
      transform: translateY(-30px);
   }
   &--open .c-masthead__content {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
   }   
}