// =======================================================================
// Navigation
// =======================================================================

.c-nav {
  .c-nav__items {
    display: flex;
    padding: 0;
    list-style: none;
    .c-nav__item {
      margin-right: calc(var(--u-spacer-15) + 0.75vmin);
      a {
        font-size: var(--f-size-body-fixed);
        color: var(--c-neutral-dark-a50);
        text-decoration: none;
        &:hover {
          color: var(--c-neutral-dark);
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.c-nav__item--selected a {
        font-weight: 500;
        color: var(--c-neutral-dark);
      }
    }
  }
}