// =======================================================================
// Navigation
// =======================================================================

.c-nav {
   .c-nav__items {
      padding: 0;
      list-style: none;
      .c-nav__item {
         margin-bottom: var(--u-spacer-10);
         a {
            text-decoration: none;
         }
         &:last-child {
            margin-bottom: 0;
         }
         &.c-nav__item--selected {
            font-weight: 500; 
         }
      }
   }
}