// =======================================================================
// Sections
// =======================================================================

.c-section {
   margin-bottom: var(--u-spacer-50);
}
.c-section--shelf {
   padding-top: 50px;
   padding-bottom: 50px;
   background: var(--c-shelf);
}