// =======================================================================
// Typography
// =======================================================================

// Body
body {
   font-family: var(--f-family-sans);
   font-size: var(--f-size-body);
   line-height: var(--f-leading);
   color: var(--c-main-darkest);
}

// Headings
h1 {
   margin-bottom: var(--u-spacer-15);
   font-family: var(--f-family-serif);
   font-size: var(--f-size-h1);
   line-height: var(--f-leading-tight);
   //letter-spacing: -0.035545rem;
   em {
      font-weight: bold; //Recoleta Bold
   }
}
h2 {
   margin-bottom: var(--u-spacer);
   font-size: var(--f-size-h2);
   color: var(--c-main-darkest);
   letter-spacing: -0.016743rem;
}
h3 {
   margin-bottom: var(--u-spacer);
   font-family: var(--f-family-serif);
   font-size: var(--f-size-h3);
   color: var(--c-main-darkest);
   font-weight: bold;
}
h4 {
   margin-bottom: var(--u-spacer);
   font-size: var(--f-size-h4);
   color: currentColor;
   font-weight: 600;
   .c-article--lede {
      font-weight: regular;
   }
}
h5 {
   margin-bottom: var(--u-spacer-20);
   font-size: var(--f-size-h5);
   color: var(--c-main-mid);
   text-transform: uppercase;
   letter-spacing: 0.125rem;
}
small, figcaption p {
   font-size: var(--f-size-body-small);
   line-height: var(--f-leading);
}
blockquote {
   //margin: 0;
   .c-blockquote__text {
      color: var(--c-main-darkest);
   }
}
cite, .c-blockquote__author {
   font-style: normal;
}

// Misc.
.c-masthead__content .c-nav .c-nav__items .c-nav__item a {
   font-family: var(--f-family-serif);
}