// =======================================================================
// Shelf theme
// =======================================================================

body.t--shelf:before {
   position: absolute;
   top: 0;
   width: 100%;
   height: 160px;
   content: '';
   background: var(--c-shelf);
}
.c-figure.c-figure--contained.t--shelf {
   background: var(--c-shelf);
}